<div class="login">
<form class="d-b ta-c" name="form">
	<div class="form-line ta-l p-r">
	<span class="icon account va-t d-ib"></span>
	<input name="phone" class="d-ib" validator="required,phone" type="text" placeholder="请输入手机号" ng-model="user.phone">
	</div>
	<div class="form-line ta-l p-r">
	<span class="icon lock va-t d-ib"></span>
	<input name="password" validator="required,password" class="d-ib" type="password" placeholder="输入密码" ng-model="user.password">
	</div>
	<button class="login-btn" validator-submit="form" ng-click="submit();">登录</button>
	<button class="register-btn" ui-sref="register">注册</button>
</form>
</div>